.container {
    width: 96%; /* Ensure the parent container expands to fit the grid */
    padding-left: 2%;
    padding-right: 2%;
}

.card-grid {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
    gap: 1% 1%;
    justify-items: center;
}

